<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/index/css/style.css">
    <link rel="icon" href="/logo.png">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/eval.js"></script>
    <title>Ei Neon Place</title>
    <meta property="og:title" content="Ei Neon Place" />
    <meta property="og:description" content="Participe do evento Place organizado pelo Servidor do Neon e EI MINE • Discord!" />
    <meta name="theme-color" content="#608DFF"/>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <h1>Ei Neon Place</h1>
        <h2>Participe do evento Place do Servidor do Neon e Servidor do EI MINE!</h2>
        <div class="buttons">
            <button class="greenbutton" onclick="location.href='/place'">Participar</button>
            <button class="greenbutton" onclick="window.open('https://bit.ly/neonplaceinvite')">Servidor do Neon</button>
            <button class="greenbutton" onclick="window.open('https://discord.com/invite/ZxragTGmkv')">Servidor do EI MINE</button>
        </div>
    </main>
    <img src="/index/img/wave.png" alt="wave" id="wave">
</body>
</html>