<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/joinGuild/css/style.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/eval.js"></script>
    <link rel="icon" href="/logo.png">
    <title>Ei Neon Place</title>
</head>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <img id="stopimage" src="/joinGuild/img/palm-of-hand.png" alt="Stop">
        <h1>Você precisa estar no Servidor do Neon ou no EI MINE • Discord para participar do evento!</h1>
        <button onclick="window.open('https://bit.ly/forbiddenservidordoneon')" class="greenbutton">Entrar no Servidor do Neon</button>
        <button onclick="window.open('https://bit.ly/forbiddeneimine')" class="greenbutton">Entrar no Servidor do Ei Mine</button>
    </main>
</body>
</html>